<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Drug Prediction</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
	<header>
		<h1>Drug Prediction</h1>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="predict.html">Predict</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<h2>Predict Drug</h2>
		<form action="submit.html">
			<label for="age">Age:</label>
			<input type="number" id="age" name="age" required><br>
			<label for="sex">Sex:</label>
			<select id="sex" name="sex" required>
				<option value="M">Male</option>
				<option value="F">Female</option>
			</select><br>
			<label for="bp">Blood Pressure:</label>
			<select id="bp" name="bp" required>
				<option value="LOW">Low</option>
				<option value="NORMAL">Normal</option>
				<option value="HIGH">High</option>
			</select><br>
			<label for="cholesterol">Cholesterol:</label>
			<select id="cholesterol" name="cholesterol" required>
				<option value="LOW">Low</option>
				<option value="NORMAL">Normal</option>
				<option value="HIGH">High</option>
			</select><br>
			<label for="na-to-k">Na to K Ratio:</label>
			<input type="number" step="0.01" id="na-to-k" name="na-to-k" required><br>
			<button type="submit">Predict</button>
		</form>
	</main>
	<footer>
		<p>@SAKTHI</p>
	</footer>
</body>
</html>